{% import 'server_config_macros.j2' as sc with context %}
{
    "advanced_settings": {{ sc.advanced_settings() | string | indent }},
    "catalog_provider_hosts": {{ sc.mk_string_list(_catalog_provider_hosts) | string | indent }},
    "catalog_service_role": "{{ _catalog_service_role }}",
    "client_api_allowlist_policy": "{{ _client_api_allowlist_policy }}",
    "controlled_user_connection_list": {{ sc.controlled_user_connection_list() | string | indent }},
    "default_dir_mode": "{{ _default_dir_mode }}",
    "default_file_mode": "{{ _default_file_mode }}",
    "default_hash_scheme": "{{ _default_hash_scheme }}",
    "environment_variables": {{ sc.environment_variables() | string | indent }},
    "federation": {{ sc.federation() | string | indent }},
    "host_access_control": {{ sc.host_access_control() | string | indent }},
    "host_resolution": {{ sc.host_resolution() | string | indent }},
    "log_level": {{ sc.log_level() | string | indent }},
    "match_hash_policy": "{{ _match_hash_policy }}",
{% if _maximum_connections %}
    "maximum_connections": {{ _maximum_connections }},
{% endif %}
    "negotiation_key": "{{ _negotiation_key }}",
    "plugin_configuration": {{ sc.plugin_configuration() | string | indent }},
    "rule_engine_namespaces": {{ sc.mk_string_list(_rule_engine_namespaces) | string | indent }},
    "schema_name": "server_config",
    "schema_validation_base_uri": "{{ _schema_validation_base_uri }}",
    "schema_version": "v4",
    "server_control_plane_encryption_algorithm": "{{
        _server_control_plane_encryption_algorithm }}",
    "server_control_plane_encryption_num_hash_rounds": {{
        _server_control_plane_encryption_num_hash_rounds }},
    "server_control_plane_key": "{{ _server_control_plane_key }}",
    "server_control_plane_port": {{ _server_control_plane_port }},
    "server_control_plane_timeout_milliseconds": {{ _server_control_plane_timeout }},
    "server_port_range_end": {{ _server_port_range_end }},
    "server_port_range_start": {{ _server_port_range_start }},
    "zone_auth_scheme": "{{ _zone_auth_scheme }}",
    "zone_key": "{{ _zone_key }}",
    "zone_name": "{{ _zone_name }}",
    "zone_port": {{ _zone_port }},
    "zone_user": "{{ _zone_user }}"
}
